
/* Profile: https://bootsnipp.com/snippets/M48pA */

/* Profile container */
    .user-page {
    margin: 20px 0;
    min-height: 90vh;
  }

  /* Profile sidebar */
  .profile-sidebar {
    padding: 20px 0 10px 0;
    background-color: #fff !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    padding: 10px 20px 10px 20px;
    margin-bottom: 20px;
  }
  
  .profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 50%;
    height: 50%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
  }
  
  .profile-usertitle {
    text-align: center;
    margin-top: 20px;
  }
  
  .profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 7px;
  }
  
  .profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
  }
  .profile-menu button {
    color: #90e6bb;
    background-color: #313446;
  }
  .profile-menu button:hover {
    color: #fff;
  }
  .profile-form{
    display: flex;
    flex-direction: row;
    justify-content: space-between!important;
    max-width: 85%;
  }
  .avater-size-1{
    width: 48px !important;
    height: 48px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
    border-radius: 50%!important;
  }

  /* Friend */
  .friend-card {
    border: 1px solid #e9ebee;
    display: flex;
    width: 100%;
  }
  .friend-card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
  }