
.content{
    background-color: #fff !important;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175) !important;
    padding: 10px 20px 20px 20px;
    border-radius: 5px;

}
.content-header {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    font-size: 30px;
}
  .FormCenter {
    margin-bottom: 100px;
  }
  
  .FormField {
    margin-bottom: 40px;
  }
  
  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }
  .FormField_GenderLabel {
    margin-left: 5px;
  }
  .FormField__Input::placeholder {
    color: #616E7F;
  }
  
  .FormField__Button {
    background-color: #52C4B9;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }
  .FormField__Link {
    color: #66707D;
    text-decoration: none;
    display: inline-block;
    border-bottom: 1.5px solid #225E62;
    padding-bottom: 5px;
    margin-left: 15px;
  }
  .background-gray {
    background-color: gray;
  }