.popup {
    z-index: 1;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.5);
    display: flex;
    
  }
.popup_inner {
    display: flex;
    align-items: center;
    margin: 1.75rem auto;
    width: auto;
}
.popup_content
{
    min-width: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    background: white;
    color: black;
}
.popup_header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1rem;
    border-bottom: 1px solid #e9ecef;
    border-top-left-radius: .3rem;
    border-top-right-radius: .3rem;
}
.popup_body {
    flex: 1 1 auto;
    padding: 1rem;
    color: black;
}
.popup_footer{
    display: flex;
    padding: 0.5rem;
    border-top: 1px solid #e9ecef;
}
.popup_confirm{
    margin-left: auto;
}
.popup_confirm button{
    margin-left: 10px;
}