
.Auth {
  min-height: 100vh;
  display: flex;
  color: white;
}

.form-warning {
  color: red;
  margin-top: 10px;
}

/* Home */
.home {
  margin: 20px 0;
}
.create_post {
  background-color: #fff!important;
  box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
  padding: 10px 20px 10px 20px;
  margin-bottom: 20px;
}
.create_post_header {
  display: flex;
  justify-content: flex-start!important;
}
.create_post textarea {
  min-width: 100%;
}
.create_post button {
  min-width: 100%;
}
