
/* New feed: https://bootsnipp.com/snippets/VgkqV */
.hero {
    padding: 6.25rem 0px !important;
    margin: 0px !important;
  }
  .cardbox {
    border-radius: 3px;
    margin-bottom: 20px;
    padding: 0px !important;
  }
  /* ------------------------------- */
  /* Cardbox Heading
  ---------------------------------- */
  .cardbox .cardbox-heading {
    padding: 16px;
    margin: 0;
  }
  
  /* ------------------------------- */
  /* Media Section
  ---------------------------------- */
  .media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .media .mr-3{
    margin-right: 1rem !important;
  }
  .media img{
    width: 48px !important;
    height: 48px !important;
    padding: 2px;
    border: 2px solid #f4f4f4;
  } 
  .media-body {
    -ms-flex: 1;
    flex: 1;
    padding: .4rem !important;
  }
  .media-body p{
    font-family: 'Rokkitt', serif;	
    font-weight: 500 !important;
    font-size: 14px;
    color: #88898a;
  }
  .media-body small span{
    font-family: 'Rokkitt', serif;	
    font-size: 12px;
    color: #aaa;
    margin-right: 10px;
  }
  /* ------------------------------- */
  /* Cardbox Item
  ---------------------------------- */
  .cardbox .cardbox-item {
    padding: 0px 20px 10px 20px;
    position: relative;
    display: block;
  }
  .img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
  }	
  .fw {
    width: 100% !important;
    height: auto;
  }
  /* ------------------------------- */
  /* Cardbox Comments
  ---------------------------------- */
  .cardbox-comments {
    padding: 10px 20px 10px 20px;
    border-top: solid 1px #eae2e2;
    display: flex;
  }
  .cardbox-comments input{
    flex: 1 1 auto!important;
    min-width: 90%;
  }
  .cardbox-comments button{
    margin-left: 5px;
    flex: 1 1 auto!important;
  }